:root {
    --background-color: #573824;
    --surface-color: #F0E8C2;
    --text-color-primary: #291B1A;
    --text-color-secondary: #573A37;
    --text-color-on-bg: #F0E8C2;

}

* {
    font-family: "Alice", serif;
    box-sizing: border-box;
}

body {
    background-image: url('./public/bg-image.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    min-height: 100vh;
}

#page {
    
}

img {
    border-radius: 16px;
}

main {
    background-color: var(--surface-color);
}